@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass: rgba(255,255,255,0.06);
  --glass-2: rgba(255,255,255,0.09);
}

html,body,#root { height:100%; }

body {
  @apply bg-gradient-to-br from-indigo-700 via-purple-700 to-violet-600 text-white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
